# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Node
node_modules/
/.next/
/out/
/build/
.next
.env*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Python Distribution
dist/
build/
*.egg-info/
